header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #C5E898;  
  padding: 15px 30px;
  border-bottom: 3px solid #29ADB2;
}

.logo {
  height: 170px;
  width: auto;
  object-fit: contain;
  padding-right: 80px;
}


#menu-toggle {
  display: none;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.menu a {
  color: #0766AD;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 12px 25px;
  border: 3px solid #29ADB2;
  border-radius: 10px;
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

.menu a:hover {
  background-color: #29ADB2;
  color: #0766AD;
}

.hamburger {
  font-size: 2rem;
  cursor: pointer;
  display: none; 
}

@media (max-width: 768px) {

.hamburger {
  display: block;
  color: #0766AD;
  font-size: 2rem;
  margin-left: auto;
}

  .menu ul {
    display: none;
    flex-direction: column;
    background-color: #333; 
    width: 100%;
    padding: 0;
    margin-top: 10px;
    border-radius: 8px;
  }

  #menu-toggle:checked ~ .menu ul {
    display: flex;
  }

  .menu a {
    display: block;
    width: 100%;
    padding: 15px;
    color: white;
    background: #333;
    font-size: 1.2rem;
  }

  .menu a:hover {
    background-color: #29ADB2;
    color: white;
  }
}
