/*  HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #C5E898;
  gap:150px;
  padding: 30px 50px;
  border-bottom: 3px solid #29ADB2;
}

.logo {
  height: 150px;
  width: auto;
  flex-shrink: 0;
}

#menu-toggle {
  display: none;
}

.hamburger {
  display: none;
}

/* MAIN NAVIGATION*/
.menu ul {
  list-style: none;
  display: flex;
  gap: 60px;
  margin: 0;
  padding: 0;
}

.menu a {
  text-decoration: none;
  color: #0766AD;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px 20px;
  border: 3px solid #29ADB2;
  border-radius: 10px;
  background-color: white;
  display: block;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

.menu a:hover {
  background-color: #29ADB2;
  color: white;
}

/* DESKTOP DROPDOWN */
.menu ul li.dropdown {
  position: relative;
}

.menu ul li.dropdown .dropdown-content {
  display: none; 
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  min-width: 150px;
  border-radius: 6px;
  padding: 0;
  margin: 0;
}

.menu ul li.dropdown:hover > .dropdown-content {
  display: block; 
}

.menu ul li.dropdown .dropdown-content li a {
  padding: 10px 15px;
  display: block;
  color: #0766AD;
  text-decoration: none;
  border-bottom: 1px solid #C5E898;
}

.menu ul li.dropdown .dropdown-content li a:hover {
  background-color: #29ADB2;
  color: white;
}

/*MOBILE HEADER*/
@media (max-width: 768px) {
  header {
    gap: 20px;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .logo {
    height: 90px;  
    width: auto;
  }
}

/* MOBILE NAVIGATION */
@media (max-width: 768px) {
  .hamburger {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    background-color: #C5E898;
    padding: 20px;
    border-radius: 8px;
    border: 3px solid #29ADB2;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #29ADB2;
    position: absolute;
    top: 90px;
    left: 0;
    border-radius: 8px;
  }

  #menu-toggle:checked + .hamburger + .menu {
    display: flex;
  }

  .menu ul {
    flex-direction: column;
    gap: 0;
    margin: 0;
    padding: 0;
  }

  .menu a {
    color: white;
    background-color: #29ADB2;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    display: block;
    text-align: left;
    font-family: Roboto, sans-serif;
  }

  .menu a:hover {
    background-color: #0766AD;
    color: white;
  }

  /* Dropdown inside mobile menu */
  .menu ul li.dropdown ul {
    display: none;
    flex-direction: column;
    padding-left: 20px;
    background-color: #0766AD;
  }

  .menu ul li.dropdown:hover ul,
  .menu ul li.dropdown:focus-within ul {
    display: flex;
  } 
}
