/*  HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #C5E898;
  gap:150px;
  padding: 30px 50px;
  border-bottom: 3px solid #29ADB2;
}

.logo {
  height: 150px;
  width: auto;
  flex-shrink: 0;
}

#menu-toggle {
  display: none;
}

.hamburger {
  display: none;
}

/* MAIN NAVIGATION*/
.menu ul {
  list-style: none;
  display: flex;
  gap: 60px;
  margin: 0;
  padding: 0;
}

.menu a {
  text-decoration: none;
  color: #0766AD;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px 20px;
  border: 3px solid #29ADB2;
  border-radius: 10px;
  background-color: white;
  display: block;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

.menu a:hover {
  background-color: #29ADB2;
  color: white;
}

/* DESKTOP DROPDOWN */
.menu ul li {
  position: relative;
}

.menu ul li .desktop-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border-radius: 6px;
  min-width: 150px;
  padding: 0;
  margin: 0;
}

.menu ul li:hover > .desktop-dropdown {
  display: block;
}

.menu ul li .desktop-dropdown li a {
  padding: 10px 15px;
  border-bottom: 1px solid #C5E898;
}

.menu ul li .desktop-dropdown li a:hover {
  background-color: blue;
  color: white;
}

/* MOBILE NAVIGATION */
@media (max-width: 768px) {
  .dropdown input {
    display: none;
  }

  .dropdown-label {
    display: block;
    color: white;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    font-family: Roboto, sans-serif;
  }

  .dropdown-content {
    display: none;
    flex-direction: column;
    padding-left: 15px;
    background-color: #0766AD;
  }

  #dropdown-toggle:checked + .dropdown-label + .dropdown-content {
    display: flex;
  }

  .dropdown-content li a {
    color: white;
    padding: 10px 15px;
    border-bottom: 1px solid #29ADB2;
  }

  .dropdown-content li a:hover {
    background-color: #29ADB2;
  }
}
