header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: #C5E898;
  padding: 15px 30px;
  border-bottom: 3px solid #29ADB2;
}

.logo {
  height: 80px; 
  width: auto;
  flex-shrink: 0;
}

.hamburger {
  font-size: 2rem;
  cursor: pointer;
  display: none; 
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.menu a {
  text-decoration: none;
  color: #0766AD;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 12px 25px;
  border: 3px solid #29ADB2;
  border-radius: 10px;
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

.menu a:hover {
  background-color: #29ADB2;
  color: white;
}

#menu-toggle {
  display: none;
}


@media (max-width: 768px) {

  
  .hamburger {
    display: block;
    color: #0766AD;
  }

  
  .menu ul {
    display: none;
    flex-direction: column;
    background-color: #333;
    width: 100%;
    padding: 0;
    margin-top: 10px;
    border-radius: 8px;
  }

  
  #menu-toggle:checked ~ .menu ul {
    display: flex;
  }

  .menu a {
    display: block;
    width: 100%;
    padding: 15px;
    color: white;
    background: #333;
    border: none;
    font-size: 1.2rem;
  }

  .menu a:hover {
    background-color: #29ADB2;
    color: white;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }
}
