header {
  display: flex;
  align-items: center;
  background-color: #C5E898;  
  padding: 15px 40px;
  border-bottom: 3px solid #29ADB2;
}

  .logo {
  height: 24px;      
  width: auto;       
  object-fit: contain;
  display: block;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin: 15px 40px;
  padding: 15px 40px;
}

nav a {
  text-decoration: none;
  color: #0766AD;
  font-weight: bold;
  font-size: 1.1rem;
  align-items:center;
  padding: 15px 30px;       
  border: 3px solid #29ADB2;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}

nav a:link {
  background-color: white;
}

nav a:hover {
  background-color:#29ADB2;
}

nav a:active {
  background-color: white;
}

nav a {
    display: inline-block;
    width: 100%;
    max-width: 200px;
  }

.menu ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.menu a {
  text-decoration: none;
  color: #0766AD;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 12px 25px;
  border: 3px solid #29ADB2;
  border-radius: 10px;
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

.menu a:hover {
  background-color: #29ADB2;
  color: white;
}

#menu-toggle {
  display: none;
}

.hamburger {
  font-size: 2rem;
  cursor: pointer;
  display: none; 
}


@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .menu ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: gray;
    padding: 0;
    margin-top: 15px;
    border-radius: 10px;
  }

  #menu-toggle:checked ~ .menu ul {
    display: flex;
  }

  .menu a {
    display: block;
    width: 100%;
    padding: 15px;
    color: white;
    border: none;
    border-radius: 0;
    background: none;
    font-size: 1.2rem;
  }

  .menu a:hover {
    background-color: #29ADB2;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }
}