header {
  display: flex;
  align-items: center;
  background-color: #C5E898;  
  padding: 15px 40px;
  border-bottom: 3px solid #29ADB2;
}

  .logo {
  height: 24px;      
  width: auto;       
  object-fit: contain;
  display: block;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin: 15px 40px;
  padding: 15px 40px;
}

nav a {
  text-decoration: none;
  color: #0766AD;
  font-weight: bold;
  font-size: 1.1rem;
  align-items:center;
  padding: 15px 30px;       
  border: 3px solid #29ADB2;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}

nav a:link {
  background-color: white;
}

nav a:hover {
  background-color:#29ADB2;
}

nav a:active {
  background-color: white;
}

nav a {
    display: inline-block;
    width: 100%;
    max-width: 200px;
  }

#menu-toggle {
  display: none;
}

.hamburger {
  font-size: 2rem;
  color: black;
  cursor: pointer;
  display: none; 
}

.mobile-menu {
  display: none; 
}

.mobile-menu ul {
  list-style: none;
}

.mobile-menu a {
  color: white;
  display: block;
  padding: 10px;
}

#menu-toggle:checked ~ .mobile-menu {
  display: block;
}

@media (min-width: 768px) {
  .hamburger {
    display: none; 
  }

  .mobile-menu {
    display: block; 
  }

  .mobile-menu ul {
    display: flex;
    gap: 1rem;
  }

  .mobile-menu a {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block; 
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .mobile-menu ul {
    flex-direction: column;
    background-color: #333;
    width: 100%;
  }
}