h1 {
  color: #0766AD;
  font-size: 36px;
  text-align: center;
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  color:#29ADB2;
  font-size: 36px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  color: black;
  font-size: 24px;
  text-align: center;
  font-family: Roboto, sans-serif;
}

p {
  color: black;
  font-size: 24px;
  font-family: "Lexend", sans-serif;
  margin-bottom: 1em;
}

p:nth-of-type(2n) {
  text-indent: 2em;      
}

p:first-of-type::first-letter {
  font-size: 28px;        
  color:black;        
  font-weight: bold;         
  margin-right: 4px;
}

blockquote {
  color: rgb(7, 170, 7);
  font-size: 24px;
  text-align: center;
  font-family:"Lexend", sans-serif;
  font-weight: 400;
  font-style: italic;
}

footer {
color: black;
  font-size: 16px;
  font-family: "Lexend", sans-serif;
}

.hero {
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.index-hero {
  background-image: url('hero.jpg.jpg');
}

.about-hero {
  background-image: url('about.jpg.jpg')
}

.Resources-hero {
  background-image: url('resources.jpg.jpg');
}

.hero h1 {
  font-size: 75px;
  margin-bottom: 15px;
  color: #0766AD; 
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-style: normal; 
}

.hero h2 {
font-size: 50px;
  margin-bottom: 15px;
  color: #29AD; 
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  font-style: normal; 
}

.hero p {
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  font-style: normal; 
  font-size: 30px;
  margin-bottom: 10px;
  color: #29ADB2; 
}

.hero-btn {
  display: inline-block;          
  padding: 20px 40px;             
  font-size: 25px;                
  font-weight: bold;       
  color: #0766AD ;                 
  background-color: #C5E898;        
  border: 4px solid #C5E898;      
  border-radius: 25px;                
  box-shadow: 0 6px 12px rgba(0,0,0,0.2); 
}

.hero-btn:hover {
  background-color: #0766AD; 
}

ul {
  text-align: left;
  font-family: Roboto, sans-serif;
  list-style-type: circle;   
  color: #000;
  font-size: 25px;
  margin-left: 15px;
}


li {
  text-align: left;
  font-family: Roboto, sans-serif;
  margin-bottom: 8px;
  color: #000;
  font-size: 20px; 
}

.resume-link {
  display: block; 
  width: fit-content;
  text-align: center;    
  padding: 10px 20px;        
  margin: 30px auto;  
  border: 2px solid #29ADB2;     
  background-color: #C5E898;  
  color: #0766AD;                   
  border-radius: 8px;         
  font-weight: bold;  
  font-family: Roboto, sans-serif; 
}

.profile-image {
  display: block;
  width: 300px;
  margin: 20px auto;
  border: 4px solid #29ADB2;
  border-radius: 20px;  
}

.resume-video {
  display: block;          
  width: 500px;            
  margin: 40px auto;      
  border: 4px solid #29ADB2;
  border-radius: 20px;
}

@media print {
  nav, .site-footer, .sidebar {
    display: none;
  }
  body {
    margin: 1in;
    line-height: 1.3;
    font-size: 12pt;
  }
   h1, h2, h3, p, ul, li, footer {
    display: block;
    color: black;
    font-family: "Times New Roman", Georgia, serif;
  }
    h1 {
    font-size: 18pt;
  }
    h2 {
    font-size: 16pt;
  }
    h3{
    font-size: 14pt;
  }
     p {
    font-size: 12pt;
  } 
    ul {
    font-size: 12pt;
  }
    li {
    font-size:12pt;
    }
    footer {
    font-size: 10pt;
  }
  header, 
  header img,
  header nav,
  .hero,
  footer img,
  .profile-image,
  .resume-video,
  .resume-link {
    display: none;
  }
}

form {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px;
  background-color: #B8E3E9;
  border-radius: 10px;
}

fieldset {
  border: 1px solid #0766AD;
  padding: 15px;
}

legend {
  font-weight: bold;
  font-family: Roboto, sans-serif;
}

ol {
  list-style: none;
  padding: 0
}

li {
  margin-bottom: 15px;
  font-family: Roboto, sans-serif;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

input::placeholder,
textarea::placeholder {
  font-family: Roboto, sans-serif;  
  font-size: 16px;                              
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.role-buttons label {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: lighter;
}

input[type="submit"] {
  background-color: #C5E898;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #C5E898;
}

