h1 {
  color: #0766AD;
  font-size: 36px;
  font-family: Sacremento, sans-serif;
}

h3 {
  color: #29ADB2;
  font-size: 24px;
  font-family: Montserrat, sans-serif;
}

p {
  color: #000000;
  font-size: 18px;
  font-family: Roboto, sans-serif;
}